.dk-p-home .dk-c-navigation {
    background-color: var(--color-yellow);
    box-shadow: none;
}

.dk-p-home__solutions {
    margin-top: 6.25em;
}

.dk-p-home__solutions-title {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-bottom: 2em;
    padding: 1em;
}

.dk-p-home__solutions__product {
    width: 100%;
}


.dk-p-home__solutions__product .product-root {
    display: flex;
    padding: 1em;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.dk-p-home__solutions__product.swap .product-root {
    flex-direction: row-reverse;
}

.dk-p-home__solutions__product .product-root .description p {
    max-width: 25em;
}

.dk-p-home__solutions__product .product-root .pic img {
    width: 100%;
}

.dk-p-home__solutions__product .product-header {
    text-align: left;
    font-size: 1.5em;
    color: var(--color-green);
}

.dk-p-home__solutions__product .product-description {
    text-align: left;
}

.dk-p-home__solutions__product .product-navigation {
    display: flex;
}

.dk-c-why-dominokit {
    background-color: var(--color-light-blue);
    padding-top: 6.25em;
    padding-bottom: 6.25em;
}

.dk-c-why-dominokit h1 {
    text-align: center;
    font-size: 2.25em;
    color: var(--color-black);
    margin-bottom: 1.875em;
}

.dk-c-why-dominokit .why-row {
    display: flex;
    padding-top: 4.375em;
}

.dk-c-why-dominokit .why-row .why-col {
    flex-grow: 1;
    text-align: center;
    min-width: 33.3333%;
}

.dk-c-why-dominokit .why-row .why-col h2 {
    text-align: center;
    font-size: 1.25em;
    color: var(--color-black);
}

.dk-c-why-dominokit .why-row .why-col p {
    text-align: center;
    color: var(--color-black);
    width: 10.9375em;
    margin: auto;
}

.dk-c-why-dominokit .why-icon {
    height: 7.1875em;
}

.dk-c-why-dominokit .why-icon .rect {
    position: relative;
    height: 5.625em;
    top: -8.0625em;
}

.dk-c-why-dominokit .why-icon .rect svg {
    width: 5.625em;
    height: 5.625em;
}

.dk-c-why-dominokit .why-icon .extras {
    position: relative;
    height: 7.5em;
    top: -1.375em;
}

.dk-c-why-dominokit .why-icon .extras #why-a {
    height: 7.5em;
    width: 3.125em;
    transform: rotate(310deg);
}

.dk-c-why-dominokit .why-icon .extras #why-c {
    height: 7.5em;
    width: 3.125em;
    transform: rotate(50deg);
}

.dk-c-why-dominokit .why-icon .extras svg {
    transition-property: transform;
    transition-duration: 1s;
}

.dk-c-why-dominokit #yellow-rect {
    fill: var(--color-white);
    stroke: var(--color-yellow);
    stroke-width: 4px;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    transform: translate(0px, 0px) matrix(1, 0, 0, 1, 40, 0) rotate(40deg);
}

.dk-c-why-dominokit #center-shape-a {
    fill: var(--color-green);
    stroke: var(--color-black);
    stroke-width: 2px;
    stroke-miterlimit: 4;
    transform: translate(22px, 26px);
}

.dk-c-why-dominokit #center-shape-b {
    transform: translate(26px, 26px);
    fill: var(--color-black);
}

.dk-c-why-dominokit #center-shape-d {
    transform: translate(29px, 20px);
    fill: var(--color-black);
}

.dk-c-why-dominokit #center-shape-e {
    transform: translate(29px, 21px);
    fill: var(--color-black);
}

.dk-c-why-dominokit #center-shape-c {
    transform: translate(26px, 26px);
    fill: var(--color-green);
}

.dk-c-why-dominokit #center-shape-f {
    transform: translate(28px, 29px);
    fill: var(--color-green);
}

.dk-c-why-dominokit #center-shape-g {
    transform: translate(28px, 29px);
    fill: var(--color-black);
}

.dk-c-why-dominokit #center-shape-h {
    transform: translate(28px, 29px);
    fill: var(--color-black);
}

.dk-c-why-dominokit #center-shape-i {
    transform: translate(28px, 29px);
    fill: var(--color-green);
}

.dk-c-why-dominokit #center-shape-j {
    transform: translate(27px, 29px);
    fill: var(--color-black);
}

.dk-c-why-dominokit #center-shape-k {
    transform: translate(27px, 29px);
    fill: var(--color-green);
}

.dk-c-why-dominokit #teal-sq {
    fill: var(--color-green);
}

.dk-c-why-dominokit #brown-sq {
    fill: var(--color-black);
}

.dk-c-why-dominokit .why-icon:hover #yellow-rect {
    stroke: var(--color-green);
}

.dk-c-why-dominokit .why-icon:hover #center-shape-a,
.dk-c-why-dominokit .why-icon:hover #center-shape-c,
.dk-c-why-dominokit .why-icon:hover #center-shape-d,
.dk-c-why-dominokit .why-icon:hover #center-shape-f,
.dk-c-why-dominokit .why-icon:hover #center-shape-i,
.dk-c-why-dominokit .why-icon:hover #center-shape-k,
.dk-c-why-dominokit .why-icon:hover #teal-sq {
    fill: var(--color-yellow);
}

.dk-c-why-dominokit .why-icon:hover .extras #why-a {
    transform: rotate(50deg);
}

.dk-c-why-dominokit .why-icon:hover .extras #why-c {
    transform: rotate(310deg);
}

.dk-c-why-dominokit .why-icon:hover .extras #why-b {
    height: 8.375em;
    width: 0.625em;
}

.dk-c-why-dominokit .why-icon .extras #why-b {
    height: 8.375em;
    width: 0.625em;
    transform: translateY(-10px);
}

.dk-c-why-dominokit .why-icon:hover .extras #why-b {
    transform: translateY(-10px) rotate(360deg);
}

.dk-c-our-sponsors {
    width: 100%;
    text-align: center;
}

.dk-c-our-sponsors h1 {
    text-align: center;
    font-size: 2.25em;
    color: var(--color-black);
    padding: 2em 2.5em 0 2.5em;
    margin: 0;
}

.dk-c-our-sponsors .sponsors-main {
    display: flex;
    padding: 2.5em;
}

.dk-c-our-sponsors .sponsors-main div {
    flex-grow: 1;
    text-align: center;
    line-height: 8.125em;
}

.dk-c-our-clients {
    width: 100%;
    text-align: center;
    background-color: var(--color-light-blue);
}

.clients-main {
    display: flex;
    text-align: center;
    padding: 2.5em;
}

.dk-c-our-clients h1 {
    text-align: center;
    font-size: 2.25em;
    color: var(--color-black);
    padding: 4em 0 0 0;
}

.clients-main .client-card-cntr {
    flex-grow: 1;
    max-width: 25%;
}

.client-card {
    transition: all 0.5s;
    width: 100%;
    max-width: 22em;
    height: 31em;
    background: var(--color-white);
    box-shadow: 0 0 6px var(--color-box-shadow);
    border-radius: 4px;
    filter: grayscale(100%) contrast(90%);
    position: relative;
    padding: 1.25em;
    color: var(--color-purple);
}

.client-card.active {
    z-index: 10;
    filter: none;
    color: var(--color-grey);
}

.client-card-0 {
    left: 18.75em;
}

.client-card-1 {
    left: 9.375em;
}

.client-card-2 {
}

.client-card-3 {
    right: 9.375em;
}

.client-card-4 {
    right: 18.75em;
}

.client-card-l-1 {
    transform: scale(0.9);
    z-index: 9;
}

.client-card-l-2 {
    transform: scale(0.8);
    z-index: 8;
}

.client-card-l-3 {
    transform: scale(0.7);
    z-index: 7;
}

.client-card-l-4 {
    transform: scale(0.6);
    z-index: 6;
}

.client-card-r-1 {
    transform: scale(0.9);
    z-index: 9;
}

.client-card-r-2 {
    transform: scale(0.8);
    z-index: 8;
}

.client-card-r-3 {
    transform: scale(0.7);
    z-index: 7;
}

.client-card-r-4 {
    transform: scale(0.6);
    z-index: 6;
}

.client-card-header {
    text-align: left;
}

.client-card .client-card-image img {
    border-radius: 50%;
    width: 5.625em;
    height: 5.625em;
}

.client-card .client-card-name h3 {
    padding-top: 1.25em;
    color: #1B1B40;
    margin-bottom: 0.3125em;
}

.client-card .client-card-title h4 {
    color: var(--color-green);
    margin: 0;
}

.client-card .client-card-comment p {
    text-align: center;
}

.client-card .client-card-logo img {
    border-radius: 6px;
    max-width: 6em;
    max-height: 6em;
}

.dk-c-our-clients-nav {
    padding-bottom: 6.25em;
}

.dk-c-our-clients-nav span {
    width: 3em;
    height: 3em;
    display: inline-block;
    line-height: 2.4375;
    border: 1px solid var(--color-black);
    border-radius: 50%;
    margin: 0.625em;
    cursor: pointer;
}

.dk-c-our-clients-nav span:hover {
    border-color: var(--color-green);
}

@media only screen and (max-width: 600px) {

    .dk-p-home__solutions-title {
        width: 100%;
        margin: 0em;
    }

    .dk-p-home__solutions__product .product-root,
    .dk-p-home__solutions__product.swap .product-root {
        flex-direction: column;
    }

    .dk-c-why-dominokit .why-row {
        flex-direction: column;
        padding-top: 0;
    }

    .dk-c-why-dominokit .why-row .why-col {
        margin-bottom: 4em;
    }

    .dk-c-our-sponsors h1 {
        padding: 2em 0.5em 0 0.5em;
    }

    .dk-c-our-sponsors .sponsors-main {
        flex-direction: column;
    }

    .dk-c-our-clients {
        padding-bottom: 2em;
    }

    .dk-c-our-clients h1 {
        padding: 1em 0 1em 0;
    }

    .clients-main {
        padding: 0;
        scroll-behavior: auto;
        overflow-x: auto;
    }

    .clients-main .client-card-cntr {
        max-width: unset;
        margin: 0.3em;
    }

    .client-card {
        width: calc(100vw - 1.25em);
        filter: none;
        position: static;
        transform: none;
        color: var(--color-black);
    }

    .dk-c-our-clients-nav {
        display: none;
    }

    .dk-c-support-us {
        padding: 4em;
    }
}
