.solution-main {
    margin: 1.25em 7.75em 1.25em 7.75em;
    padding: 0 0.625em 0 0.625em;
}

.solution-header {
    display: flex;
    align-items: center;
}

.solution-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 1em;
}

.solution-title .solution-name {
    color: var(--color-green);
}

.solution-actions {
    display: flex;
    margin-bottom: 1em;
}

.solution-actions .dk-c-button {
    margin: 0 0.3em;
}

.solution-main .dk-c-getting-started {
    margin-bottom: 1em;
}

.solution-name {
    font-size: 2.25em;
    margin-top: 0.3em;
}

.view-on-github {
    color: var(--color-black);
}

.view-on-github:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}

.view-on-github:hover .button-img {
    background-color: var(--color-white);
}

.view-on-github .button-img {
    -webkit-mask: url(/assets/ic_view_on_github.svg) no-repeat;
    mask: url(/assets/ic_view_on_github.svg) no-repeat;
    background: var(--color-black);
}

.see-live-demo {
    color: var(--color-green);
}

.see-live-demo:hover {
    background-color: var(--color-green);
    color: var(--color-white);
}

.see-live-demo:hover .button-img {
    background-color: var(--color-white);
}

.see-live-demo .button-img {
    -webkit-mask: url(/assets/ic_see_live_demo.svg) no-repeat;
    mask: url(/assets/ic_see_live_demo.svg) no-repeat;
    background: var(--color-green);
}

.solution-version {
    flex-grow: 1;
}

.solution-version div {
    width: fit-content;
    height: 1.75em;
    background: var(--color-light-blue) 0 0 no-repeat padding-box;
    border: 1px solid var(--color-light-grey);
    border-radius: 4px;
    margin-left: 0.625em;
    padding: 0.1em;
    line-height: 1.3em;
}

.solution-version img {
    margin-left: 0.625em;
}

.solution-description {
    margin-top: 0.9375em;
    font-size: 1.5em;
    margin-bottom: 2em;
}

.solution-badges {
    display: flex;
    margin-top: 0.9375em;
    flex-flow: wrap;
}

.solution-badges .dk-c-badge {
    margin: 0.3em 0.3em;
}

.broad-video {
    margin-top: 1.25em;
}

.feature-blocks {
    display: flex;
    margin-top: 1.25em;
}

.feature-block {
    padding-top: 1.5625em;
    border-top: 1px solid var(--color-light-blue);
    flex-grow: 1;
    flex-shrink: 1;
}

.feature-block:not(:last-child) {
    margin-right: 2em;
}

.feature-block:before {
    content: '';
    height: 3px;
    width: 50%;
    position: relative;
    top: -1.6875em;
    display: block;
    background-color: var(--color-green);
    transition: all 0.2s ease-in-out;
}

.feature-block:hover:before {
    width: 100%;
}

.feature-block h1 {
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    .solution-main {
        margin: 3em 0.3em;
    }

    .solution-header {
        flex-direction: column;
    }

    .solution-actions {
        width: 100%;
        margin-bottom: 1em;
    }

    .feature-blocks {
        flex-direction: column;
    }

    .feature-block:not(:last-child) {
        margin-bottom: 2em;
    }

    .solution-description {
        text-align: center;
    }
}
