<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content">
	<div th:replace="fragments/commons/navigation :: content"></div>
	<div id="body">
		<div class="solution-main" th:fragment="content">
			<div class="solution-header">
				<div class="solution-title">
					<h1 class="product-header solution-name">Domino REST</h1>
					<div class="solution-version">
						<div>
							v1.0.0
							<img src="/assets/ic_version_picker.svg"/>
						</div>
					</div>
				</div>
				<div class="solution-actions">
					<div th:replace="fragments/commons/components/button :: content ('view-on-github', 'View on Github')"></div>
					<div th:replace="fragments/commons/components/button :: content ('see-live-demo', 'See live demo')"></div>
				</div>
				<div th:replace="fragments/commons/components/getting-started :: content('solutions/dominorest/docs/getting-started/create-project')"></div>
			</div>
			<div class="solution-description">Domino-rest is a lib for generating rest clients from JaxRs compatible interfaces, and the generated clients can be used from both client side -browser- using GWT and on the server, the lib works in both GWT2 and GWT3/J2CL, the serialization and deserialization is based on domino-jackson, and service definition is based on JaxRs annotations, while code generation uses annotation processing APT.
			</div>
			<div class="solution-badges">
				<div th:replace="fragments/commons/components/badge :: content ('version', 'v1.0.0')"></div>
				<div th:replace="fragments/commons/components/badge :: content ('gitter', 'join chat')"></div>
				<div th:replace="fragments/commons/components/badge :: content ('build', 'passing')"></div>
				<div th:replace="fragments/commons/components/badge :: content ('maven central', 'v1.0.0-RC1')"></div>
				<div th:replace="fragments/commons/components/badge :: content ('nexus', 'HEAD-SNAPSHOT')"></div>
			</div>
			<div class="broad-video">
				<video width="100%" height="500" controls>
				</video>
			</div>
			<div class="feature-blocks">
				<div class="feature-block">
					<img src="/assets/ic_type_safe.svg"/>
					<h1>Type Safe</h1>
					<p>
						Java based compiled to JavaScript, which means during development of the application you have
						the power to refactor and keep your app maintainable all the time.
					</p>
				</div>
				<div class="feature-block">
					<img src="/assets/ic_rich_components.svg"/>
					<h1>Rich Components</h1>
					<p>
						Having rich interactive forms is essential for enterprise applications. We have a rich set of
						form controls to enable developers implement both simple and complex form easily.
					</p>
				</div>
				<div class="feature-block">
					<img src="/assets/ic_typography_and_font_icons.svg"/>
					<h1>Typography & Font Icons</h1>
					<p>
						Icons and Typography can enhance the user experience of the application. We have a variety of
						font icons that can bring forms and other elements in the page into life.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/commons/support :: content"></div>
	<div th:replace="fragments/commons/footer :: content"></div>
	<div th:replace="fragments/commons/components/solutions-menu :: content"></div>
</div>
