<div class="dui dui-rounded-xl dui-site-coming-soon dui-elevation-1 dui-bg-yellow-d-1 dui-border dui-border-solid dui-border-teal" th:fragment="content">
    <div class="dui">
        <img src="/assets/coming-soon.jpg" class="dui dui-w-full dui-image-responsive dui-rounded-tl-xl dui-rounded-tr-xl">
    </div>

    <div class="dui dui-flex dui-flex-col">
        <div class="dui dui-font-size-8 dui-p-x-4 dui-m-y-4">COMING SOON</div>
        <div class="dui dui-font-size-8 dui-font-bold dui-p-x-4 dui-m-y-4">WORK IN PROGRESS</div>
    </div>
</div>
