<div class="dk-c-dui-menu" th:fragment="content">
    <div>test</div>
    <div class="dk-c-dui-menu-search-bar">
        <img src="/assets/ic_search.svg"/>
        <input type="text" placeholder="Search"/>
    </div>
    <p class="dk-c-dui-menu-title">GETTING STARTED</p>
    <ul class="dk-c-dui-menu-root">
        <li class="dk-c-dui-menu-item parent collapsed">
            <a class="dk-c-dui-menu-item-title" href="getting-started/create-project"
               d-link="/solutions/dominoui/docs/getting-started/create-project">
                <span>Create domino-ui project</span></a>
            <ul class="dk-c-dui-menu-children">
                <li class="dk-c-dui-menu-item">
                    <a class="dk-c-dui-menu-item-title" href="getting-started/create-project/cli"
                       d-link="/solutions/dominoui/docs/getting-started/create-project/cli"><span>Using dominokit-cli tool</span>
                    </a>
                </li>
                <li class="dk-c-dui-menu-item">
                    <a class="dk-c-dui-menu-item-title" href="getting-started/create-project/archetype"
                       d-link="/solutions/dominoui/docs/getting-started/create-project/archetype"><span>From Domino-ui Archetype</span>
                    </a>
                </li>
                <li class="dk-c-dui-menu-item">
                    <a class="dk-c-dui-menu-item-title" href="getting-started/create-project/nalu"
                       d-link="/solutions/dominoui/docs/getting-started/create-project/nalu"><span>Using Nalu Project Initializer</span>
                    </a>
                </li>
            </ul>
        </li>
        <p class="dk-c-dui-menu-title" style="margin: 20px 0 20px 0">COMPONENTS</p>
        <li class="dk-c-dui-menu-item parent">
            <a class="dk-c-dui-menu-item-title" href="components/alerts"
               d-link="/solutions/dominoui/docs/components/alerts"><span>Alerts</span></a>
        </li>
        <li class="dk-c-dui-menu-item parent">
            <a class="dk-c-dui-menu-item-title"><span>Badges</span></a>
        </li>
        <li class="dk-c-dui-menu-item parent">
            <a class="dk-c-dui-menu-item-title"><span>Breadcrumbs</span></a>
        </li>
    </ul>
</div>
