<div th:fragment="content"
     class="dui
     dui-site-yellow-link
     dui-flex
     dui-items-center
     dui-rounded
     dui-bg-yellow
     dui-border
     dui-border-solid
     dui-border-yellow
     dui-cursor-pointer
     dui-m-t-4
    dui-show-on-small-and-down
    dui-hide-on-medium-and-up"

     id="dui-site-docs-open-left-menu">
    <div>
        <i class="dui mdi mdi-view-headline"></i>
    </div>
    <div>
        <span style="line-height: 24px">Learn more</span>
    </div>
</div>
