<div class="dk-c-solutions-menu" th:fragment="content">
	<div class="dk-c-solutions-menu-item">
		<a d-link="solutions/dominomvp" href="solutions/dominomvp">Domino MVP</a>
		<p>Routing and navigation framework</p>
	</div>
	<div class="dk-c-solutions-menu-item">
		<a d-link="solutions/dominoui" href="solutions/dominoui">Domino UI</a>
		<p>UI components library</p>
	</div>
	<div class="dk-c-solutions-menu-item">
		<a d-link="solutions/dominojackson" href="solutions/dominojackson">Domino Jackson</a>
		<p>JSON mapping library</p>
	</div>
	<div class="dk-c-solutions-menu-item">
		<a d-link="solutions/dominorest" href="solutions/dominorest">Domino REST</a>
		<p>REST client generation library</p>
	</div>
	<div class="dk-c-solutions-menu-item">
		<a d-link="solutions/dominohistory" href="solutions/dominohistory">Domino History</a>
		<p>URL manipulation library</p>
	</div>
</div>
