<ul class="dk-c-solutions-menu dk-u-fade-out" th:fragment="content">
	<li class="dk-c-solutions-menu-item"><a d-link="solutions/dominomvp" href="solutions/dominomvp">
		<div>
			<h4>Domino MVP</h4>
			<p>Routing and navigation framework</p>
		</div>
	</a></li>
	<li class="dk-c-solutions-menu-item"><a d-link="solutions/dominoui" href="solutions/dominoui">
		<div>
			<h4>Domino UI</h4>
			<p>UI components library</p>
		</div>
	</a></li>
	<li class="dk-c-solutions-menu-item"><a d-link="solutions/dominojackson" href="solutions/dominojackson">
		<div>
			<h4>Domino Jackson</h4>
			<p>JSON mapping library</p>
		</div>
	</a></li>
	<li class="dk-c-solutions-menu-item"><a d-link="solutions/dominorest" href="solutions/dominorest">
		<div>
			<h4>Domino REST</h4>
			<p>REST client generation library</p>
		</div>
	</a></li>
	<li class="dk-c-solutions-menu-item"><a d-link="solutions/dominohistory" href="solutions/dominohistory">
		<div>
			<h4>Domino History</h4>
			<p>URL manipulation library</p>
		</div>
	</a></li>
	<li class="dk-c-solutions-menu-item"><a d-link="solutions/dominocli" href="solutions/dominocli">
		<div>
			<h4>Domino CLI</h4>
			<p>CLI for creating domino projects</p>
		</div>
	</a></li>
</ul>
