<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="docsContent">
    <div th:replace="~{commons :: navigationTopBar (active = 'solutions')}"></div>
    <div id="body">
        <div class="docs-body">
            <div class="docs-menu">
                <div class="docs-search-bar">
                    <img src="/assets/ic_search.svg"/>
                    <input type="text" placeholder="Search"/>
                </div>
                <p class="docs-menu-title">GETTING STARTED</p>
                <ul class="docs-menu-root">
                    <li class="docs-menu-item parent collapsed">
                        <div class="docs-menu-item-title" d-link="getting-started/create-project"><span>Create domino-ui project</span></div>
                        <ul class="docs-menu-children">
                            <li class="docs-menu-item">
                                <div class="docs-menu-item-title" d-link="getting-started/create-project/cli"><span>Using domino cli tool</span></div>
                            </li>
                            <li class="docs-menu-item">
                                <div class="docs-menu-item-title" d-link="getting-started/create-project/archetype"><span>From Domino-ui Archetype</span></div>
                            </li>
                            <li class="docs-menu-item">
                                <div class="docs-menu-item-title" d-link="getting-started/create-project/nalo"><span>Using Nalo Project Initializer</span></div>
                            </li>
                        </ul>
                    </li>
                    <li class="docs-menu-item parent collapsed">
                        <div class="docs-menu-item-title"><span>What's New</span></div>
                        <ul class="docs-menu-children">
                            <li class="docs-menu-item">
                                <div class="docs-menu-item-title"><span>Using domino cli tool</span></div>
                            </li>
                            <li class="docs-menu-item">
                                <div class="docs-menu-item-title"><span>From Domino-ui Archetype</span></div>
                            </li>
                            <li class="docs-menu-item">
                                <div class="docs-menu-item-title"><span>Using Nalo Project Initializer</span></div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p class="docs-menu-title">COMPONENTS</p>
                <ul class="docs-menu-root">
                    <li class="docs-menu-item">
                        <div class="docs-menu-item-title"><span>Alerts</span></div>
                    </li>
                    <li class="docs-menu-item">
                        <div class="docs-menu-item-title"><span>Badges</span></div>
                    </li>
                    <li class="docs-menu-item">
                        <div class="docs-menu-item-title"><span>Breadcrumbs</span></div>
                    </li>
                </ul>
            </div>
            <div class="docs-content">test2</div>
        </div>
    </div>
    <div th:replace="~{commons :: solutionsMenu}"></div>
</div>
