.dui-site-component-docs body {
    background-color: #ffffff;
    color: #353833;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.dui-site-component-docs iframe {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border: none;
}
.dui-site-component-docs a:link,
.dui-site-component-docs a:visited {
    text-decoration: none;
    color: #4A6782;
}
.dui-site-component-docs a[href]:hover,
.dui-site-component-docs a[href]:focus {
    text-decoration: none;
    color: #bb7a2a;
}
.dui-site-component-docs a[name] {
    color: #353833;
}
.dui-site-component-docs a[name]:before,
.dui-site-component-docs a[name]:target,
.dui-site-component-docs a[id]:before,
.dui-site-component-docs a[id]:target {
    content: "";
    display: inline-block;
    position: relative;
    padding-top: 129px;
    margin-top: -129px;
}
.dui-site-component-docs pre {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 14px;
}
.dui-site-component-docs h1 {
    font-size: 20px;
}
.dui-site-component-docs h2 {
    font-size: 18px;
}
.dui-site-component-docs h3 {
    font-size: 16px;
    font-style: italic;
}
.dui-site-component-docs h4 {
    font-size: 13px;
}
.dui-site-component-docs h5 {
    font-size: 12px;
}
.dui-site-component-docs h6 {
    font-size: 11px;
}
.dui-site-component-docs ul {
    list-style-type: disc;
}
.dui-site-component-docs code,
.dui-site-component-docs tt {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    padding-top: 4px;
    margin-top: 8px;
    line-height: 1.4em;
}
.dui-site-component-docs dt code {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    padding-top: 4px;
}
.dui-site-component-docs table tr td dt code {
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 14px;
    vertical-align: top;
    padding-top: 4px;
}
.dui-site-component-docs sup {
    font-size: 8px;
}
.dui-site-component-docs .clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}
.dui-site-component-docs .aboutLanguage {
    float: right;
    padding: 0px 21px;
    font-size: 11px;
    z-index: 200;
    margin-top: -9px;
}
.dui-site-component-docs .legalCopy {
    margin-left: .5em;
}
.dui-site-component-docs .bar a,
.dui-site-component-docs .bar a:link,
.dui-site-component-docs .bar a:visited,
.dui-site-component-docs .bar a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.dui-site-component-docs .bar a:hover,
.dui-site-component-docs .bar a:focus {
    color: #bb7a2a;
}
.dui-site-component-docs .tab {
    background-color: #0066FF;
    color: #ffffff;
    padding: 8px;
    width: 5em;
    font-weight: bold;
}
.dui-site-component-docs .bar {
    background-color: #4D7A97;
    color: #FFFFFF;
    padding: .8em .5em .4em .8em;
    height: auto;
    /*height:1.8em;*/
    font-size: 11px;
    margin: 0;
}
.dui-site-component-docs .navPadding {
    padding-top: 107px;
}
.dui-site-component-docs .fixedNav {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #ffffff;
}
.dui-site-component-docs .topNav {
    background-color: #4D7A97;
    color: #FFFFFF;
    float: left;
    padding: 0;
    width: 100%;
    clear: right;
    height: 2.8em;
    padding-top: 10px;
    overflow: hidden;
    font-size: 12px;
}
.dui-site-component-docs .bottomNav {
    margin-top: 10px;
    background-color: #4D7A97;
    color: #FFFFFF;
    float: left;
    padding: 0;
    width: 100%;
    clear: right;
    height: 2.8em;
    padding-top: 10px;
    overflow: hidden;
    font-size: 12px;
}
.dui-site-component-docs .subNav {
    background-color: #dee3e9;
    float: left;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}
.dui-site-component-docs .subNav div {
    clear: left;
    float: left;
    padding: 0 0 5px 6px;
    text-transform: uppercase;
}
.dui-site-component-docs ul.navList,
.dui-site-component-docs ul.subNavList {
    float: left;
    margin: 0 25px 0 0;
    padding: 0;
}
.dui-site-component-docs ul.navList li {
    list-style: none;
    float: left;
    padding: 5px 6px;
    text-transform: uppercase;
}
.dui-site-component-docs ul.navListSearch {
    float: right;
    margin: 0 0 0 0;
    padding: 0;
}
.dui-site-component-docs ul.navListSearch li {
    list-style: none;
    float: right;
    padding: 5px 6px;
    text-transform: uppercase;
}
.dui-site-component-docs ul.navListSearch li label {
    position: relative;
    right: -16px;
}
.dui-site-component-docs ul.subNavList li {
    list-style: none;
    float: left;
}
.dui-site-component-docs .topNav a:link,
.dui-site-component-docs .topNav a:active,
.dui-site-component-docs .topNav a:visited,
.dui-site-component-docs .bottomNav a:link,
.dui-site-component-docs .bottomNav a:active,
.dui-site-component-docs .bottomNav a:visited {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}
.dui-site-component-docs .topNav a:hover,
.dui-site-component-docs .bottomNav a:hover {
    text-decoration: none;
    color: #bb7a2a;
    text-transform: uppercase;
}
.dui-site-component-docs .navBarCell1Rev {
    background-color: #F8981D;
    color: #253441;
    margin: auto 5px;
}
.dui-site-component-docs .skipNav {
    position: absolute;
    top: auto;
    left: -9999px;
    overflow: hidden;
}
.dui-site-component-docs .header,
.dui-site-component-docs .footer {
    clear: both;
    margin: 0 20px;
    padding: 5px 0 0 0;
}
.dui-site-component-docs .indexNav {
    position: relative;
    font-size: 12px;
    background-color: #dee3e9;
}
.dui-site-component-docs .indexNav ul {
    margin-top: 0;
    padding: 5px;
}
.dui-site-component-docs .indexNav ul li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    text-transform: uppercase;
}
.dui-site-component-docs .indexNav h1 {
    font-size: 13px;
}
.dui-site-component-docs .title {
    color: #2c4557;
    margin: 10px 0;
}
.dui-site-component-docs .subTitle {
    margin: 5px 0 0 0;
}
.dui-site-component-docs .header ul {
    margin: 0 0 15px 0;
    padding: 0;
}
.dui-site-component-docs .footer ul {
    margin: 20px 0 5px 0;
}
.dui-site-component-docs .header ul li,
.dui-site-component-docs .footer ul li {
    list-style: none;
    font-size: 13px;
}
.dui-site-component-docs div.details ul.blockList ul.blockList ul.blockList li.blockList h4,
.dui-site-component-docs div.details ul.blockList ul.blockList ul.blockListLast li.blockList h4 {
    background-color: #dee3e9;
    border: 1px solid #d0d9e0;
    margin: 0 0 6px -8px;
    padding: 7px 5px;
}
.dui-site-component-docs ul.blockList ul.blockList ul.blockList li.blockList h3 {
    background-color: #dee3e9;
    border: 1px solid #d0d9e0;
    margin: 0 0 6px -8px;
    padding: 7px 5px;
}
.dui-site-component-docs ul.blockList ul.blockList li.blockList h3 {
    padding: 0;
    margin: 15px 0;
}
.dui-site-component-docs ul.blockList li.blockList h2 {
    padding: 0px 0 20px 0;
}
.dui-site-component-docs .contentContainer,
.dui-site-component-docs .sourceContainer,
.dui-site-component-docs .classUseContainer,
.dui-site-component-docs .serializedFormContainer,
.dui-site-component-docs .constantValuesContainer,
.dui-site-component-docs .allClassesContainer,
.dui-site-component-docs .allPackagesContainer {
    clear: both;
    padding: 10px 20px;
    position: relative;
}
.dui-site-component-docs .indexContainer {
    margin: 10px;
    position: relative;
    font-size: 12px;
}
.dui-site-component-docs .indexContainer h2 {
    font-size: 13px;
    padding: 0 0 3px 0;
}
.dui-site-component-docs .indexContainer ul {
    margin: 0;
    padding: 0;
}
.dui-site-component-docs .indexContainer ul li {
    list-style: none;
    padding-top: 2px;
}
.dui-site-component-docs .contentContainer .description dl dt,
.dui-site-component-docs .contentContainer .details dl dt,
.dui-site-component-docs .serializedFormContainer dl dt {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0 0;
    color: #4E4E4E;
}
.dui-site-component-docs .contentContainer .description dl dd,
.dui-site-component-docs .contentContainer .details dl dd,
.dui-site-component-docs .serializedFormContainer dl dd {
    margin: 5px 0 10px 0px;
    font-size: 14px;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}
.dui-site-component-docs .serializedFormContainer dl.nameValue dt {
    margin-left: 1px;
    font-size: 1.1em;
    display: inline;
    font-weight: bold;
}
.dui-site-component-docs .serializedFormContainer dl.nameValue dd {
    margin: 0 0 0 1px;
    font-size: 1.1em;
    display: inline;
}
.dui-site-component-docs li.circle {
    list-style: circle;
}
.dui-site-component-docs ul.horizontal li {
    display: inline;
    font-size: 0.9em;
}
.dui-site-component-docs ul.inheritance {
    margin: 0;
    padding: 0;
}
.dui-site-component-docs ul.inheritance li {
    display: inline;
    list-style: none;
}
.dui-site-component-docs ul.inheritance li ul.inheritance {
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 1px;
}
.dui-site-component-docs ul.blockList,
.dui-site-component-docs ul.blockListLast {
    margin: 10px 0 10px 0;
    padding: 0;
}
.dui-site-component-docs ul.blockList li.blockList,
.dui-site-component-docs ul.blockListLast li.blockList {
    list-style: none;
    margin-bottom: 15px;
    line-height: 1.4;
}
.dui-site-component-docs ul.blockList ul.blockList li.blockList,
.dui-site-component-docs ul.blockList ul.blockListLast li.blockList {
    padding: 0px 20px 5px 10px;
    border: 1px solid #ededed;
    background-color: #f8f8f8;
}
.dui-site-component-docs ul.blockList ul.blockList ul.blockList li.blockList,
.dui-site-component-docs ul.blockList ul.blockList ul.blockListLast li.blockList {
    padding: 0 0 5px 8px;
    background-color: #ffffff;
    border: none;
}
.dui-site-component-docs ul.blockList ul.blockList ul.blockList ul.blockList li.blockList {
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 15px;
    border: none;
}
.dui-site-component-docs ul.blockList ul.blockList ul.blockList ul.blockList li.blockListLast {
    list-style: none;
    border-bottom: none;
    padding-bottom: 0;
}
.dui-site-component-docs table tr td dl,
.dui-site-component-docs table tr td dl dt,
.dui-site-component-docs table tr td dl dd {
    margin-top: 0;
    margin-bottom: 1px;
}
.dui-site-component-docs .overviewSummary,
.dui-site-component-docs .memberSummary,
.dui-site-component-docs .typeSummary,
.dui-site-component-docs .useSummary,
.dui-site-component-docs .constantsSummary,
.dui-site-component-docs .deprecatedSummary,
.dui-site-component-docs .requiresSummary,
.dui-site-component-docs .packagesSummary,
.dui-site-component-docs .providesSummary,
.dui-site-component-docs .usesSummary {
    width: 100%;
    border-spacing: 0;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.dui-site-component-docs .overviewSummary,
.dui-site-component-docs .memberSummary,
.dui-site-component-docs .requiresSummary,
.dui-site-component-docs .packagesSummary,
.dui-site-component-docs .providesSummary,
.dui-site-component-docs .usesSummary {
    padding: 0px;
}
.dui-site-component-docs .overviewSummary caption,
.dui-site-component-docs .memberSummary caption,
.dui-site-component-docs .typeSummary caption,
.dui-site-component-docs .useSummary caption,
.dui-site-component-docs .constantsSummary caption,
.dui-site-component-docs .deprecatedSummary caption,
.dui-site-component-docs .requiresSummary caption,
.dui-site-component-docs .packagesSummary caption,
.dui-site-component-docs .providesSummary caption,
.dui-site-component-docs .usesSummary caption {
    position: relative;
    text-align: left;
    background-repeat: no-repeat;
    color: #253441;
    font-weight: bold;
    clear: none;
    overflow: hidden;
    padding: 0px;
    padding-top: 10px;
    padding-left: 1px;
    margin: 0px;
    white-space: pre;
}
.dui-site-component-docs .overviewSummary caption a:link,
.dui-site-component-docs .memberSummary caption a:link,
.dui-site-component-docs .typeSummary caption a:link,
.dui-site-component-docs .constantsSummary caption a:link,
.dui-site-component-docs .deprecatedSummary caption a:link,
.dui-site-component-docs .requiresSummary caption a:link,
.dui-site-component-docs .packagesSummary caption a:link,
.dui-site-component-docs .providesSummary caption a:link,
.dui-site-component-docs .usesSummary caption a:link,
.dui-site-component-docs .overviewSummary caption a:hover,
.dui-site-component-docs .memberSummary caption a:hover,
.dui-site-component-docs .typeSummary caption a:hover,
.dui-site-component-docs .constantsSummary caption a:hover,
.dui-site-component-docs .deprecatedSummary caption a:hover,
.dui-site-component-docs .requiresSummary caption a:hover,
.dui-site-component-docs .packagesSummary caption a:hover,
.dui-site-component-docs .providesSummary caption a:hover,
.dui-site-component-docs .usesSummary caption a:hover,
.dui-site-component-docs .overviewSummary caption a:active,
.dui-site-component-docs .memberSummary caption a:active,
.dui-site-component-docs .typeSummary caption a:active,
.dui-site-component-docs .constantsSummary caption a:active,
.dui-site-component-docs .deprecatedSummary caption a:active,
.dui-site-component-docs .requiresSummary caption a:active,
.dui-site-component-docs .packagesSummary caption a:active,
.dui-site-component-docs .providesSummary caption a:active,
.dui-site-component-docs .usesSummary caption a:active,
.dui-site-component-docs .overviewSummary caption a:visited,
.dui-site-component-docs .memberSummary caption a:visited,
.dui-site-component-docs .typeSummary caption a:visited,
.dui-site-component-docs .constantsSummary caption a:visited,
.dui-site-component-docs .deprecatedSummary caption a:visited,
.dui-site-component-docs .requiresSummary caption a:visited,
.dui-site-component-docs .packagesSummary caption a:visited,
.dui-site-component-docs .providesSummary caption a:visited,
.dui-site-component-docs .usesSummary caption a:visited {
    color: #FFFFFF;
}
.dui-site-component-docs .useSummary caption a:link,
.dui-site-component-docs .useSummary caption a:hover,
.dui-site-component-docs .useSummary caption a:active,
.dui-site-component-docs .useSummary caption a:visited {
    color: #1f389c;
}
.dui-site-component-docs .overviewSummary caption span,
.dui-site-component-docs .memberSummary caption span,
.dui-site-component-docs .typeSummary caption span,
.dui-site-component-docs .useSummary caption span,
.dui-site-component-docs .constantsSummary caption span,
.dui-site-component-docs .deprecatedSummary caption span,
.dui-site-component-docs .requiresSummary caption span,
.dui-site-component-docs .packagesSummary caption span,
.dui-site-component-docs .providesSummary caption span,
.dui-site-component-docs .usesSummary caption span {
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 7px;
    display: inline-block;
    float: left;
    background-color: #F8981D;
    border: none;
    height: 16px;
}
.dui-site-component-docs .memberSummary caption span.activeTableTab span,
.dui-site-component-docs .packagesSummary caption span.activeTableTab span,
.dui-site-component-docs .overviewSummary caption span.activeTableTab span,
.dui-site-component-docs .typeSummary caption span.activeTableTab span {
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    display: inline-block;
    float: left;
    background-color: #F8981D;
    height: 16px;
}
.dui-site-component-docs .memberSummary caption span.tableTab span,
.dui-site-component-docs .packagesSummary caption span.tableTab span,
.dui-site-component-docs .overviewSummary caption span.tableTab span,
.dui-site-component-docs .typeSummary caption span.tableTab span {
    white-space: nowrap;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    display: inline-block;
    float: left;
    background-color: #4D7A97;
    height: 16px;
}
.dui-site-component-docs .memberSummary caption span.tableTab,
.dui-site-component-docs .memberSummary caption span.activeTableTab,
.dui-site-component-docs .packagesSummary caption span.tableTab,
.dui-site-component-docs .packagesSummary caption span.activeTableTab,
.dui-site-component-docs .overviewSummary caption span.tableTab,
.dui-site-component-docs .overviewSummary caption span.activeTableTab,
.dui-site-component-docs .typeSummary caption span.tableTab,
.dui-site-component-docs .typeSummary caption span.activeTableTab {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-image: none;
    float: none;
    display: inline;
}
.dui-site-component-docs .overviewSummary .tabEnd,
.dui-site-component-docs .memberSummary .tabEnd,
.dui-site-component-docs .typeSummary .tabEnd,
.dui-site-component-docs .useSummary .tabEnd,
.dui-site-component-docs .constantsSummary .tabEnd,
.dui-site-component-docs .deprecatedSummary .tabEnd,
.dui-site-component-docs .requiresSummary .tabEnd,
.dui-site-component-docs .packagesSummary .tabEnd,
.dui-site-component-docs .providesSummary .tabEnd,
.dui-site-component-docs .usesSummary .tabEnd {
    display: none;
    width: 5px;
    position: relative;
    float: left;
    background-color: #F8981D;
}
.dui-site-component-docs .memberSummary .activeTableTab .tabEnd,
.dui-site-component-docs .packagesSummary .activeTableTab .tabEnd,
.dui-site-component-docs .overviewSummary .activeTableTab .tabEnd,
.dui-site-component-docs .typeSummary .activeTableTab .tabEnd {
    display: none;
    width: 5px;
    margin-right: 3px;
    position: relative;
    float: left;
    background-color: #F8981D;
}
.dui-site-component-docs .memberSummary .tableTab .tabEnd,
.dui-site-component-docs .packagesSummary .tableTab .tabEnd,
.dui-site-component-docs .overviewSummary .tableTab .tabEnd,
.dui-site-component-docs .typeSummary .tableTab .tabEnd {
    display: none;
    width: 5px;
    margin-right: 3px;
    position: relative;
    background-color: #4D7A97;
    float: left;
}
.dui-site-component-docs .rowColor th,
.dui-site-component-docs .altColor th {
    font-weight: normal;
}
.dui-site-component-docs .overviewSummary td,
.dui-site-component-docs .memberSummary td,
.dui-site-component-docs .typeSummary td,
.dui-site-component-docs .useSummary td,
.dui-site-component-docs .constantsSummary td,
.dui-site-component-docs .deprecatedSummary td,
.dui-site-component-docs .requiresSummary td,
.dui-site-component-docs .packagesSummary td,
.dui-site-component-docs .providesSummary td,
.dui-site-component-docs .usesSummary td {
    text-align: left;
    padding: 0px 0px 12px 10px;
}
.dui-site-component-docs th.colFirst,
.dui-site-component-docs th.colSecond,
.dui-site-component-docs th.colLast,
.dui-site-component-docs th.colConstructorName,
.dui-site-component-docs th.colDeprecatedItemName,
.dui-site-component-docs .useSummary th,
.dui-site-component-docs .constantsSummary th,
.dui-site-component-docs .packagesSummary th,
.dui-site-component-docs td.colFirst,
.dui-site-component-docs td.colSecond,
.dui-site-component-docs td.colLast,
.dui-site-component-docs .useSummary td,
.dui-site-component-docs .constantsSummary td {
    vertical-align: top;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 3px;
}
.dui-site-component-docs th.colFirst,
.dui-site-component-docs th.colSecond,
.dui-site-component-docs th.colLast,
.dui-site-component-docs th.colConstructorName,
.dui-site-component-docs th.colDeprecatedItemName,
.dui-site-component-docs .constantsSummary th,
.dui-site-component-docs .packagesSummary th {
    background: #dee3e9;
    text-align: left;
    padding: 8px 3px 3px 7px;
}
.dui-site-component-docs td.colFirst,
.dui-site-component-docs th.colFirst {
    font-size: 13px;
}
.dui-site-component-docs td.colSecond,
.dui-site-component-docs th.colSecond,
.dui-site-component-docs td.colLast,
.dui-site-component-docs th.colConstructorName,
.dui-site-component-docs th.colDeprecatedItemName,
.dui-site-component-docs th.colLast {
    font-size: 13px;
}
.dui-site-component-docs .constantsSummary th,
.dui-site-component-docs .packagesSummary th {
    font-size: 13px;
}
.dui-site-component-docs .providesSummary th.colFirst,
.dui-site-component-docs .providesSummary th.colLast,
.dui-site-component-docs .providesSummary td.colFirst,
.dui-site-component-docs .providesSummary td.colLast {
    white-space: normal;
    font-size: 13px;
}
.dui-site-component-docs .overviewSummary td.colFirst,
.dui-site-component-docs .overviewSummary th.colFirst,
.dui-site-component-docs .requiresSummary td.colFirst,
.dui-site-component-docs .requiresSummary th.colFirst,
.dui-site-component-docs .packagesSummary td.colFirst,
.dui-site-component-docs .packagesSummary td.colSecond,
.dui-site-component-docs .packagesSummary th.colFirst,
.dui-site-component-docs .packagesSummary th,
.dui-site-component-docs .usesSummary td.colFirst,
.dui-site-component-docs .usesSummary th.colFirst,
.dui-site-component-docs .providesSummary td.colFirst,
.dui-site-component-docs .providesSummary th.colFirst,
.dui-site-component-docs .memberSummary td.colFirst,
.dui-site-component-docs .memberSummary th.colFirst,
.dui-site-component-docs .memberSummary td.colSecond,
.dui-site-component-docs .memberSummary th.colSecond,
.dui-site-component-docs .memberSummary th.colConstructorName,
.dui-site-component-docs .typeSummary td.colFirst,
.dui-site-component-docs .typeSummary th.colFirst {
    vertical-align: top;
}
.dui-site-component-docs .packagesSummary th.colLast,
.dui-site-component-docs .packagesSummary td.colLast {
    white-space: normal;
}
.dui-site-component-docs td.colFirst a:link,
.dui-site-component-docs td.colFirst a:visited,
.dui-site-component-docs td.colSecond a:link,
.dui-site-component-docs td.colSecond a:visited,
.dui-site-component-docs th.colFirst a:link,
.dui-site-component-docs th.colFirst a:visited,
.dui-site-component-docs th.colSecond a:link,
.dui-site-component-docs th.colSecond a:visited,
.dui-site-component-docs th.colConstructorName a:link,
.dui-site-component-docs th.colConstructorName a:visited,
.dui-site-component-docs th.colDeprecatedItemName a:link,
.dui-site-component-docs th.colDeprecatedItemName a:visited,
.dui-site-component-docs .constantValuesContainer td a:link,
.dui-site-component-docs .constantValuesContainer td a:visited,
.dui-site-component-docs .allClassesContainer td a:link,
.dui-site-component-docs .allClassesContainer td a:visited,
.dui-site-component-docs .allPackagesContainer td a:link,
.dui-site-component-docs .allPackagesContainer td a:visited {
    font-weight: bold;
}
.dui-site-component-docs .tableSubHeadingColor {
    background-color: #EEEEFF;
}
.dui-site-component-docs .altColor,
.dui-site-component-docs .altColor th {
    background-color: #FFFFFF;
}
.dui-site-component-docs .rowColor,
.dui-site-component-docs .rowColor th {
    background-color: #EEEEEF;
}
.dui-site-component-docs .description pre {
    margin-top: 0;
}
.dui-site-component-docs .deprecatedContent {
    margin: 0;
    padding: 10px 0;
}
.dui-site-component-docs .docSummary {
    padding: 0;
}
.dui-site-component-docs ul.blockList ul.blockList ul.blockList li.blockList h3 {
    font-style: normal;
}
.dui-site-component-docs div.block {
    font-size: 14px;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
}
.dui-site-component-docs td.colLast div {
    padding-top: 0px;
}
.dui-site-component-docs td.colLast a {
    padding-bottom: 3px;
}
.dui-site-component-docs .sourceLineNo {
    color: green;
    padding: 0 30px 0 0;
}
.dui-site-component-docs h1.hidden {
    visibility: hidden;
    overflow: hidden;
    font-size: 10px;
}
.dui-site-component-docs .block {
    display: block;
    margin: 3px 10px 2px 0px;
    color: #474747;
}
.dui-site-component-docs .deprecatedLabel,
.dui-site-component-docs .descfrmTypeLabel,
.dui-site-component-docs .implementationLabel,
.dui-site-component-docs .memberNameLabel,
.dui-site-component-docs .memberNameLink,
.dui-site-component-docs .moduleLabelInPackage,
.dui-site-component-docs .moduleLabelInType,
.dui-site-component-docs .overrideSpecifyLabel,
.dui-site-component-docs .packageLabelInType,
.dui-site-component-docs .packageHierarchyLabel,
.dui-site-component-docs .paramLabel,
.dui-site-component-docs .returnLabel,
.dui-site-component-docs .seeLabel,
.dui-site-component-docs .simpleTagLabel,
.dui-site-component-docs .throwsLabel,
.dui-site-component-docs .typeNameLabel,
.dui-site-component-docs .typeNameLink,
.dui-site-component-docs .searchTagLink {
    font-weight: bold;
}
.dui-site-component-docs .deprecationComment,
.dui-site-component-docs .emphasizedPhrase,
.dui-site-component-docs .interfaceName {
    font-style: italic;
}
.dui-site-component-docs .deprecationBlock {
    font-size: 14px;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}
.dui-site-component-docs div.block div.deprecationComment,
.dui-site-component-docs div.block div.block span.emphasizedPhrase,
.dui-site-component-docs div.block div.block span.interfaceName {
    font-style: normal;
}
.dui-site-component-docs div.contentContainer ul.blockList li.blockList h2 {
    padding-bottom: 0px;
}
.dui-site-component-docs .mainContainer {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.dui-site-component-docs .leftContainer {
    height: 100%;
    position: fixed;
    width: 320px;
}
.dui-site-component-docs .leftTop {
    position: relative;
    float: left;
    width: 315px;
    top: 0;
    left: 0;
    height: 30%;
    border-right: 6px solid #ccc;
    border-bottom: 6px solid #ccc;
}
.dui-site-component-docs .leftBottom {
    position: relative;
    float: left;
    width: 315px;
    bottom: 0;
    left: 0;
    height: 70%;
    border-right: 6px solid #ccc;
    border-top: 1px solid #000;
}
.dui-site-component-docs .rightContainer {
    position: absolute;
    left: 320px;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    border-left: 1px solid #000;
}
.dui-site-component-docs .rightIframe {
    margin: 0;
    padding: 0;
    height: 100%;
    right: 30px;
    width: 100%;
    overflow: visible;
    margin-bottom: 30px;
}
.dui-site-component-docs main,
.dui-site-component-docs nav,
.dui-site-component-docs header,
.dui-site-component-docs footer,
.dui-site-component-docs section {
    display: block;
}
.dui-site-component-docs .ui-autocomplete-category {
    font-weight: bold;
    font-size: 15px;
    padding: 7px 0 7px 3px;
    background-color: #4D7A97;
    color: #FFFFFF;
}
.dui-site-component-docs .resultItem {
    font-size: 13px;
}
.dui-site-component-docs .ui-autocomplete {
    max-height: 85%;
    max-width: 65%;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: nowrap;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.dui-site-component-docs ul.ui-autocomplete {
    position: fixed;
    z-index: 999999;
}
.dui-site-component-docs ul.ui-autocomplete li {
    float: left;
    clear: both;
    width: 100%;
}
.dui-site-component-docs .resultHighlight {
    font-weight: bold;
}
.dui-site-component-docs #search {
    background-image: url('resources/glass.png');
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 2px 3px;
    padding-left: 20px;
    position: relative;
    right: -18px;
}
.dui-site-component-docs #reset {
    background-color: #ffffff;
    background-image: url('resources/x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    border: 0 none;
    width: 16px;
    height: 17px;
    position: relative;
    left: -4px;
    top: -4px;
    font-size: 0px;
}
.dui-site-component-docs .watermark {
    color: #545454;
}
.dui-site-component-docs .searchTagDescResult {
    font-style: italic;
    font-size: 11px;
}
.dui-site-component-docs .searchTagHolderResult {
    font-style: italic;
    font-size: 12px;
}
.dui-site-component-docs .searchTagResult:before,
.dui-site-component-docs .searchTagResult:target {
    color: red;
}
.dui-site-component-docs .moduleGraph span {
    display: none;
    position: absolute;
}
.dui-site-component-docs .moduleGraph:hover span {
    display: block;
    margin: -100px 0 0 100px;
    z-index: 1;
}
.dui-site-component-docs .methodSignature {
    white-space: normal;
}
.dui-site-component-docs table.borderless,
.dui-site-component-docs table.plain,
.dui-site-component-docs table.striped {
    margin-top: 10px;
    margin-bottom: 10px;
}
.dui-site-component-docs table.borderless > caption,
.dui-site-component-docs table.plain > caption,
.dui-site-component-docs table.striped > caption {
    font-weight: bold;
    font-size: smaller;
}
.dui-site-component-docs table.borderless th,
.dui-site-component-docs table.borderless td,
.dui-site-component-docs table.plain th,
.dui-site-component-docs table.plain td,
.dui-site-component-docs table.striped th,
.dui-site-component-docs table.striped td {
    padding: 2px 5px;
}
.dui-site-component-docs table.borderless,
.dui-site-component-docs table.borderless > thead > tr > th,
.dui-site-component-docs table.borderless > tbody > tr > th,
.dui-site-component-docs table.borderless > tr > th,
.dui-site-component-docs table.borderless > thead > tr > td,
.dui-site-component-docs table.borderless > tbody > tr > td,
.dui-site-component-docs table.borderless > tr > td {
    border: none;
}
.dui-site-component-docs table.borderless > thead > tr,
.dui-site-component-docs table.borderless > tbody > tr,
.dui-site-component-docs table.borderless > tr {
    background-color: transparent;
}
.dui-site-component-docs table.plain {
    border-collapse: collapse;
    border: 1px solid black;
}
.dui-site-component-docs table.plain > thead > tr,
.dui-site-component-docs table.plain > tbody tr,
.dui-site-component-docs table.plain > tr {
    background-color: transparent;
}
.dui-site-component-docs table.plain > thead > tr > th,
.dui-site-component-docs table.plain > tbody > tr > th,
.dui-site-component-docs table.plain > tr > th,
.dui-site-component-docs table.plain > thead > tr > td,
.dui-site-component-docs table.plain > tbody > tr > td,
.dui-site-component-docs table.plain > tr > td {
    border: 1px solid black;
}
.dui-site-component-docs table.striped {
    border-collapse: collapse;
    border: 1px solid black;
}
.dui-site-component-docs table.striped > thead {
    background-color: #E3E3E3;
}
.dui-site-component-docs table.striped > thead > tr > th,
.dui-site-component-docs table.striped > thead > tr > td {
    border: 1px solid black;
}
.dui-site-component-docs table.striped > tbody > tr:nth-child(even) {
    background-color: #eeeeee;
}
.dui-site-component-docs table.striped > tbody > tr:nth-child(odd) {
    background-color: #ffffff;
}
.dui-site-component-docs table.striped > tbody > tr > th,
.dui-site-component-docs table.striped > tbody > tr > td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.dui-site-component-docs table.striped > tbody > tr > th {
    font-weight: normal;
}