<div th:fragment="content" class="dk-p-news">
    <div class="news-main">
        <div class="dui dui-site-section-our-solutions">
            <h1>Our vision</h1>
            <p class="dui dui-solutions-description">DominoKit is the brainchild of a dedicated team of developers
                passionate about revolutionizing the way we approach web application design. Grounded in the principles
                of simplicity, efficiency, and elegance, the team has crafted DominoKit to empower developers worldwide.
                It offers an intuitive interface, customizable widgets, and a modern aesthetic that speaks to today's
                tech-savvy audience. Behind DominoKit is not just code, but a commitment to innovation and the belief
                that every developer deserves the best tools at their fingertips.</p>

            <h1>Our team</h1>
            <p class="dui dui-solutions-description">As the authors behind DominoKit, we are a diverse group of seasoned
                developers who share a unified vision for the future of web application development. With collective
                experience spanning decades and deep expertise in various facets of software engineering, we have
                meticulously designed DominoKit to meet the evolving needs of developers. Our dedication to the
                community is evident through continuous updates, prompt support, and an unwavering commitment to
                quality. Above all, Our passion shines through in every line of code, as they continually strive to
                set new benchmarks in user experience and innovation.</p>

            <h1>Meet the team</h1>

            <div class="dui dui-flex dui-flex-wrap dui-justify-center dui-items-center dui-gap-4">
                <div d-client-card="0" dui-data-index="0" class="dui author-card">
                    <div class="dui author-card-header dui-flex dui-items-center dui-justify-between">
                        <img src="assets/ic_testmonials_quotes.svg" alt="quotes">
                        <a href="https://www.linkedin.com/in/ahmad-bawaneh/" tabindex="0" aria-expanded="true"
                           target="_blank" class="dui dui-float-right">
                            <img src="/assets/ic_footer_linkedin_teal.svg"
                                 alt="linked-in"></a>
                    </div>
                    <div class="author-card-image">
                        <img src="/assets/Ahmad.Bawaneh.jpg" alt="Ahmad Bawaneh">
                    </div>
                    <div class="author-card-name">
                        <h3>Ahmad Bawaneh</h3>
                    </div>
                    <div class="author-card-title">
                        <h4>Software developer @ Vertispan</h4>
                    </div>
                    <div class="author-card-comment">
                        <p>“Behind DominoKit, I bring a meticulous approach rooted in deep software engineering
                            understanding. My dedication is not just in crafting code but in envisioning web
                            development's future.”</p>
                    </div>
                    <div class="author-card-logo">
                        <img src="/assets/ic_our_sponsors_vertispan_logo.png" alt="Vertispan">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
