<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="news-item" th:fragment="news_00003">
    <div th:replace="~{commons :: newsSocialButtons}"></div>
    <a href="https://github.com/DominoKit/releases">Release candidates updates</a>
    <p>Monday, April 7, 2021 - Ahmad K. Bawaneh</p>
    <div class="news-item-content">
        <p>
            New release candidates are now available in maven center, check below the updated libraries.
        </p>

        <table>
            <thead>
            <tr>
                <th>Library/tool</th>
                <th>Release version</th>
                <th>development version</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-ui">domino-ui</a></td>
                <td class="bolder">1.0.0-RC2</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-rest">domino-rest</a></td>
                <td class="bolder">1.0.0-RC3</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-jackson">domino-jackson</a></td>
                <td>1.0.0-RC3</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-mvp">domino-mvp</a></td>
                <td class="bolder">1.0.0-RC3</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-history">domino-history</a></td>
                <td class="bolder">1.0.0-RC3</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-aggregator">domino-aggregator</a></td>
                <td>1.0.2</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-slf4j-logger">domino-slf4j-logger</a></td>
                <td>1.0.2</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-keycloak">domino-keycloak</a></td>
                <td>1.0.0</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-immutables">domino-immutables</a></td>
                <td>1.0.0</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
