<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div class="news-item" th:fragment="news_00001">
    <div th:replace="~{commons :: newsSocialButtons}"></div>
    <a href="https://github.com/DominoKit/releases">DominoKit latest release</a>
    <p>Monday, March 29, 2021 - Ahmad K. Bawaneh</p>
    <div class="news-item-content">
        <p>
            DominoKit team are very happy to announce the first dominokit toolset release candidate, it took us too
            long but it is finally here and all our tools are now available on maven center,
            The release supports GWT 2.9.0 and Java11, find below a list of all tools and released versions :Find
            below a list of all tools and released versions :
        </p>

        <table>
            <thead>
            <tr>
                <th>Library/tool</th>
                <th>Release version</th>
                <th>development version</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-ui">domino-ui</a></td>
                <td>1.0.0-RC1</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-rest">domino-rest</a></td>
                <td>1.0.0-RC1</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-jackson">domino-jackson</a></td>
                <td>1.0.0-RC2</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-mvp">domino-mvp</a></td>
                <td>1.0.0-RC1</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-history">domino-history</a></td>
                <td>1.0.0-RC2</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-aggregator">domino-aggregator</a></td>
                <td>1.0.2</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-slf4j-logger">domino-slf4j-logger</a></td>
                <td>1.0.2</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-keycloak">domino-keycloak</a></td>
                <td>1.0.0</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            <tr>
                <td><a href="https://github.com/DominoKit/domino-immutables">domino-immutables</a></td>
                <td>1.0.0</td>
                <td>HEAD-SNAPSHOT</td>
            </tr>
            </tbody>
        </table>
        <p>
            <a href="https://github.com/DominoKit/domino-cli">Domino-cli </a> have also been updated to generate
            projects that use the new releases
            You can download the CLI from the project releases page
        </p>
    </div>
</div>