<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="content" class="dk-p-news">
	<div th:replace="fragments/commons/navigation :: content"></div>
	<div class="dk-p-news-title">
		What's new?
	</div>
	<div class="news-main">
		<div th:replace="fragments/commons/components/card :: content('https://demo.dominokit.org/', '/assets/domino-logo-2048.png', 'HOT TOPIC!', 'New site! New beginning! check it out!', 'April 12, 2022')"></div>
		<div th:replace="fragments/commons/components/card :: content('https://demo.dominokit.org/', '/assets/release-plan.jpeg', 'UPDATE', 'Domino UI 1.0 has been released!', 'April 12, 2022')"></div>
		<div th:replace="fragments/commons/components/card :: content('https://demo.dominokit.org/', '/assets/social-media.jpg', 'SOCIAL MEDIA', 'We\'re on social media!', 'April 12, 2022')"></div>
		<div th:replace="fragments/commons/components/card :: content('https://github.com/DominoKit', '/assets/github.png', 'SUPPORT', 'Make contributions on our projects and join our family!', 'April 12, 2022')"></div>
	</div>
	<div th:replace="fragments/commons/footer :: content"></div>
	<div th:replace="fragments/commons/components/solutions-menu :: content"></div>
</div>
