<footer class="dk-c-footer" th:fragment="content">
	<div class="dk-c-footer__main">
		<div class="dk-c-footer__logo">
			<img src="/assets/ic_dominokit_logo_footer.svg">
		</div>
		<div class="dk-c-footer__menu">
			<div class="dk-c-footer__menu-section">
				<p class="dk-c-footer__menu-section-title">Contact us</p>
				<a class="dk-c-footer__link" href="mailto:sales@dominokit.com">
					<div style="display: flex; justify-content: center; align-items: center">
						<i style="margin-right: 1em" class="material-icons">email</i>
						<span>sales@dominokit.com</span>
					</div>
				</a>
			</div>
		</div>
		<div class="dk-c-footer__social">
			<a href="https://github.com/DominoKit"><img src="/assets/ic_footer_github.svg"></a>
			<a href="https://www.linkedin.com/feed/hashtag/dominokit/"><img src="/assets/ic_footer_linkedin.svg"></a>
			<a href="https://twitter.com/dominokit"><img src="/assets/ic_footer_twitter.svg"></a>
		</div>
	</div>
	<div class="dk-c-footer__copyrights">
		<div>
			<div class="dk-c-footer__copyrights-main">
				<div class="dk-c-footer__copyrights-title">Copyrights DominoKit © 2020.</div>
				<div style="padding-right: 5px">Powered by</div>
				<div><img src="/assets/Gwt_logo.png"></div>
			</div>
		</div>
	</div>
</footer>
