<footer class="dk-c-footer" th:fragment="content">
    <div class="dk-c-footer__main">
        <div class="dk-c-footer__logo">
            <img src="/assets/ic_dominokit_logo_footer.svg" alt="dominokit">
        </div>
        <div class="dk-c-footer__menu">
            <div class="dk-c-footer__menu-section">
                <p class="dk-c-footer__menu-section-title">Solutions</p>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/solutions/domino-ui/v2" aria-expanded="true">Domino UI</a>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/solutions/domino-mvp" aria-expanded="true">Domino MVP</a>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/solutions/domino-rest/v1" aria-expanded="true">Domino REST</a>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/solutions/domino-jackson/v1" aria-expanded="true">Domino Jackson</a>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/solutions/domino-history/v1" aria-expanded="true">Domino History</a>
            </div>
            <div class="dk-c-footer__menu-section">
                <p class="dk-c-footer__menu-section-title">Resources</p>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/resources/docs" aria-expanded="true">Docs</a>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/resources/pricing" aria-expanded="true">Pricing</a>
            </div>
            <div class="dk-c-footer__menu-section">
                <p class="dk-c-footer__menu-section-title">Company</p>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/news" aria-expanded="true">News</a>
                <a class="dk-c-footer__link" tabindex="0" dui-site-data="nav-anchor"
                   href="/about-us" aria-expanded="true">About us</a>
            </div>
        </div>
        <div class="dk-c-footer__social">
            <a href="https://github.com/DominoKit" tabindex="0" aria-expanded="true" target="_blank"><img
                    src="/assets/ic_footer_github.svg" alt="github"></a>
            <a href="https://www.facebook.com" tabindex="0" aria-expanded="true" target="_blank"><img
                    src="/assets/ic_footer_facebook.svg" alt="facebook"></a>
            <a href="https://www.linkedin.com/company/dominokit" tabindex="0" aria-expanded="true" target="_blank"><img
                    src="/assets/ic_footer_linkedin.svg" alt="linked-in"></a>
            <a href="https://x.com/dominokit" tabindex="0" aria-expanded="true" target="_blank"><img
                    src="/assets/ic_footer_twitter-x.svg" alt="twitter X"></a>
        </div>
    </div>
    <div class="dk-c-footer__copyrights">
        <div>
            <div class="dk-c-footer__copyrights-main">
                <div class="dk-c-footer__copyrights-title">Copyrights DominoKit © 2020.</div>
                <div style="padding-right: 5px">Powered by</div>
                <div><img src="/assets/logo/16-y.png" alt="dominokit"></div>
            </div>
        </div>
    </div>
</footer>
