<div th:fragment="content" class="dui dui-site-home-header">
    <div class="dui dui-site-banner">
        <div class="dui dui-flex dui-p-t-32">
            <div class="dui dui-grow-1">
                <div>
                    <span class="dui dui-font-size-14">All in one...All in Java<br><span class="dui dui-font-size-10">Design... Build... and Ship</span></span>
                </div>
                <div class="dui dui-flex dui-flex-col dui-gap-1 dui-p-y-4">
                    <span class="dui dui-labeled-icon dui-reversed dui-p-2">
                        <i class="dui mdi mdi-github dui-clickable"></i>
                        <a class="dui dui-mdi-text dui-text-ellipsis dui-decoration-none" tabindex="0" href="https://github.com/DominoKit" target="_blank">Like us on github</a>
                    </span>
                    <span class="dui dui-labeled-icon dui-reversed dui-p-2">
                        <i class="dui mdi mdi-twitter dui-clickable"></i>
                        <a class="dui dui-mdi-text dui-text-ellipsis" tabindex="0" href="https://twitter.com/dominokit" target="_blank">Follow us on twitter</a>
                    </span>
                    <span class="dui dui-labeled-icon dui-reversed dui-p-2">
                        <i class="dui mdi mdi-linkedin dui-clickable"></i>
                        <a class="dui dui-mdi-text dui-text-ellipsis" tabindex="0" href="https://www.linkedin.com/company/dominokit/?viewAsMember=true" target="_blank">Follow us on linked-in</a>
                    </span>
                </div>
            </div>
            <div class="dui">
                <img src="/assets/home-banner.svg" class="dui dui-site-home-banner"/>
            </div>
        </div>
    </div>
</div>
