<div th:fragment="content" class="dui dui-site-home-header">
    <div class="dui dui-site-banner">
        <div class="dui dui-home-head-banner">
            <div class="dui dui-home-head-banner-sentence">
                <div>
                    <span class="dui dui-home-head-banner-sentence-main">All in one...All in Java<br><span
                            class="dui dui-home-head-banner-sentence-sub">Design... Build... and Ship</span></span>
                </div>
                <div class="dui dui-home-head-banner-social">
                    <span class="dui dui-labeled-icon dui-reversed dui-p-2">
                        <a tabindex="0" href="https://github.com/DominoKit" target="_blank"
                           class="dui dui-decoration-none dui dui-flex dui-items-center dui-gap-2">
                            <img src="/assets/ic_footer_github_dark.svg" alt="github">
                            <span class="dui dui-mdi-text dui-text-ellipsis">Star us on github</span>
                        </a>
                    </span>
                    <span class="dui dui-labeled-icon dui-reversed dui-p-2">
                        <a tabindex="0" href="https://www.facebook.com/orgdomino" target="_blank"
                           class="dui dui-decoration-none dui dui-flex dui-items-center dui-gap-2">
                            <img src="/assets/ic_footer_facebook_dark.svg" alt="facebook">
                            <span class="dui dui-mdi-text dui-text-ellipsis">Like us on facebook</span>
                        </a>
                    </span>
                    <span class="dui dui-labeled-icon dui-reversed dui-p-2">
                        <a tabindex="0" href="https://x.com/dominokit" target="_blank"
                           class="dui dui-decoration-none dui dui-flex dui-items-center dui-gap-2">
                            <img src="/assets/ic_footer_twitter-x_dark.svg" alt="twitter X">
                            <span class="dui dui-mdi-text dui-text-ellipsis">Follow us on X</span>
                        </a>
                    </span>
                    <span class="dui dui-labeled-icon dui-reversed dui-p-2">
                        <a tabindex="0" href="https://www.linkedin.com/company/dominokit"
                           target="_blank"
                           class="dui dui-decoration-none dui dui-flex dui-items-center dui-gap-2">
                            <img src="/assets/ic_footer_linkedin_dark.svg" alt="linked-in">
                            <span class="dui dui-mdi-text dui-text-ellipsis">Follow us on linked-in</span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="dui">
                <img src="/assets/home-banner.svg" class="dui dui-site-home-banner"/>
            </div>
        </div>
    </div>
</div>
