<div th:fragment="content" class="dui dui-site-nav-bar dui-sticky dui-top-0 dui-overflow-y-hidden">
    <nav class="dui dui-nav-bar dui-h-16 dui-bg-yellow-d-2 dui-elevation-1">
        <img class="dui dui-prefix-addon dui-order-first dui-w-12 dui-h-12 dui-" src="/assets/logo/128.png">
        <h4 class="dui dui-nav-title">DominoKit</h4>
        <div class="dui dui-nav-body dui-h-full">
            <div class="dui dui-tabs dui-horizontal dui-h-full">
                <ul class="dui dui-tabs-nav dui-justify-center dui-h-full dui-border-0">
                    <li class="dui dui-tab-item" dui-site-section="main-nav" dui-site-data="home">
                        <a class="dui dui-tab-anchor" tabindex="0" dui-site-data="nav-anchor" href="/home" aria-expanded="true">
                            <div class="dui dui-tab-header">
                                <span class="dui dui-tab-header-item dui-tab-header-text">Home</span>
                            </div>
                        </a>
                    </li>
                    <li class="dui dui-tab-item" dui-site-section="main-nav" dui-site-data="solutions">
                        <a class="dui dui-tab-anchor" tabindex="0" dui-site-data="nav-anchor" href="/solutions" aria-expanded="true">
                            <div class="dui dui-tab-header">
                                <span class="dui dui-tab-header-item dui-tab-header-text">Solutions</span>
                            </div>
                        </a>
                    </li>
                    <li class="dui dui-tab-item" dui-site-section="main-nav" dui-site-data="resources">
                        <a class="dui dui-tab-anchor" tabindex="0" dui-site-data="nav-anchor" href="/resources" aria-expanded="true">
                            <div class="dui dui-tab-header">
                                <span class="dui dui-tab-header-item dui-tab-header-text">Resources</span>
                            </div>
                        </a>
                    </li>
                    <li class="dui dui-tab-item" dui-site-section="main-nav" dui-site-data="news">
                        <a class="dui dui-tab-anchor" tabindex="0" dui-site-data="nav-anchor" href="/news" aria-expanded="true">
                            <div class="dui dui-tab-header">
                                <span class="dui dui-tab-header-item dui-tab-header-text">News</span>
                            </div>
                        </a>
                    </li>
                    <li class="dui dui-tab-item" dui-site-section="main-nav" dui-site-data="about-us">
                        <a class="dui dui-tab-anchor" tabindex="0" dui-site-data="nav-anchor" href="/about-us" aria-expanded="true">
                            <div class="dui dui-tab-header">
                                <span class="dui dui-tab-header-item dui-tab-header-text">About us</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="dui dui-postfix-addon dui-order-last-4" tabindex="0" href="https://github.com/DominoKit"
           target="_blank">
            <i class="dui mdi mdi-github  dui-clickable"></i>
        </a>
    </nav>
    <div class="dui dui-hidden" dui-site-section='solutions-menu'>
        <ul class="dui">
            <li class="dui dui-flex dui-flex-col">
                <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/solutions/domino-ui" aria-expanded="true">Domino UI</a>
                <span class="dui dui-font-size-3">UI components library</span>
            </li>
            <li class="dui dui-flex dui-flex-col">
                <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/solutions/domino-mvp" aria-expanded="true">Domino MVP</a>
                <span class="dui dui-font-size-3">Routing and navigation framework</span>
            </li>
            <li class="dui dui-flex dui-flex-col">
                <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/solutions/domino-jackson" aria-expanded="true">Domino Jackson</a>
                <span class="dui dui-font-size-3">JSON Mapping library</span>
            </li>
            <li class="dui dui-flex dui-flex-col">
                <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/solutions/domino-rest" aria-expanded="true">Domino Rest</a>
                <span class="dui dui-font-size-3">REST Client generation library</span>
            </li>
            <li class="dui dui-flex dui-flex-col">
                <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/solutions/domino-history" aria-expanded="true">Domino History</a>
                <span class="dui dui-font-size-3">URL Manipulation library</span>
            </li>
        </ul>
    </div>
</div>
