<div id="dui-site-sm-nav-side-menu"
     class="dui dui-site-sm-side-menu dui-show-on-small-and-down dui-hide-on-medium-and-up">
    <ul class="dui">
        <li class="dui dui-flex dui-flex-col">
            <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/home"
               aria-expanded="true">Home</a>
        </li>
        <li class="dui dui-flex dui-flex-col">
            <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/solutions"
               aria-expanded="true">Solutions</a>
        </li>
        <li class="dui dui-flex dui-flex-col">
            <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/services"
               aria-expanded="true">Services</a>
        </li>
        <li class="dui dui-flex dui-flex-col">
            <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/resources"
               aria-expanded="true">Resources</a>
        </li>
        <li class="dui dui-flex dui-flex-col">
            <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/news"
               aria-expanded="true">News</a>
        </li>
        <li class="dui dui-flex dui-flex-col">
            <a class="dui dui-fg-teal dui-font-bold" tabindex="0" dui-site-data="nav-anchor" href="/about-us"
               aria-expanded="true">About us</a>
        </li>
    </ul>
</div>