.dk-c-navigation {
    height: 4.375em;
    display: flex;
    padding-left: 7.5em;
    padding-right: 7.5em;
    position: sticky;
    padding-top: 0.75em;
    top: 0;
    z-index: 100;
    line-height: 3.625em;
    box-shadow: 0 1px 2px var(--color-light-box-shadow);
    background-color: var(--color-white);
}

.dk-c-navigation__logo {
    margin: auto;
}

.dk-c-navigation__github {
    width: 1.5em;
    height: 1.5em;
}

.dk-c-nav-menu {
    flex-grow: 1;
    text-align: center;
}

.dk-c-nav-menu__header-link {
    display: inline-block;
    letter-spacing: 0;
    color: var(--color-grey);
    min-width: 6.25em;
    line-height: 3.125em;
    text-decoration: none;
}

.dk-c-nav-menu__header-link:hover {
    color: var(--color-green);
}

.dk-c-nav-menu__header-link--active {
    color: var(--color-green);
}

.dk-c-nav-menu__header-link--active::after {
    content: '';
    width: 0.3125em;
    height: 0.3125em;
    display: block;
    position: relative;
    background: var(--color-green) 0 0 no-repeat padding-box;
    margin-left: 48%;
    transform: matrix(0.77, 0.64, -0.64, 0.77, 0, 0);
    margin-top: -0.625em;
}

.dk-c-mobile-nav {
    color: var(--color-black);
    overflow: hidden;
    position: relative;
    margin: auto;
    line-height: 1em;
    display: none;
    background-color: inherit;
}

.dk-c-mobile-nav .dk-c-mobile-nav__menu {
    display: none;
    position: fixed;
    top: 4.375em;
    left: 0;
    width: 100%;
    background-color: inherit;
    height: calc(100vh - 4.375em);
    overflow: auto;
}

.dk-c-mobile-nav .dk-c-mobile-nav__menu a {
    color: var(--color-black);
    padding: 0.8em 1em;
    text-decoration: none;
    display: block;
}

.dk-c-mobile-nav.open .dk-c-mobile-nav__menu {
    display: block;
}

.dk-c-nav-menu__header-link-content {
    display: flex;
    align-items: center;
}

.dk-c-nav-menu__header-link-title {
    flex-grow: 1;
}

.dk-c-nav-menu__header-link-icon {
    line-height: 50%;
}

.dk-c-mobile-nav__submenu {
    list-style: none;
}

.dk-c-nav-menu__header-link.expanded .dk-c-mobile-nav__submenu {
    display: block;
}

.dk-c-nav-menu__header-link.expanded .material-icons.expanded {
    display: inline-block;
}

.dk-c-nav-menu__header-link.expanded .material-icons.collapsed {
    display: none;
}

.dk-c-nav-menu__header-link.collapsed .dk-c-mobile-nav__submenu {
    display: none;
}

.dk-c-nav-menu__header-link.collapsed .material-icons.expanded {
    display: none;
}

.dk-c-nav-menu__header-link.collapsed .material-icons.collapsed {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .dk-c-navigation {
        padding-left: 0;
        padding-right: 0;
    }

    .dk-c-nav-menu {
        display: none;
    }

    .dk-c-mobile-nav {
        display: block;
    }
}
