.dk-c-footer {
    background-color: var(--color-black);
    padding: 1em;
}

.dk-c-footer__main {
    padding: 2.5em 9.375em 2.5em 9.375em;
    display: flex;
    justify-content: space-between;
}

.dk-c-footer__menu {
    flex-grow: 1;
    text-align: left;
    display: flex;
    justify-content: center;
}

.dk-c-footer__menu-section {
    display: flex;
    flex-direction: column;
}

.dk-c-footer__menu-section .dk-c-footer__menu-section-title {
    font-size: 1.3em;
    color: var(--color-offwhite);
}

.dk-c-footer__social img {
    margin-left: 0.3125em;
    margin-right: 0.3125em;
    transition: transform .2s;
    cursor: pointer;
}

.dk-c-footer__social img:hover {
    transform: scale(1.2);
}

.dk-c-footer__copyrights {
    padding-left: 9.375em;
    padding-right: 9.375em;
}

.dk-c-footer__copyrights-main {
    display: flex;
    border-top: 1px solid var(--color-grey);
    color: var(--color-white);
    font-size: 0.8em;
}

.dk-c-footer__copyrights-main div {
    margin-top: 0.625em;
    display: inline-block;
}

.dk-c-footer__copyrights-title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dk-c-footer__link {
    display: inline-block;
    color: var(--color-grey);
    min-width: 6.25em;
    line-height: 2.5em;
    cursor: pointer;
}

.dk-c-footer__link:hover {
    color: var(--color-white);
}

@media only screen and (max-width: 600px) {
    .dk-c-footer__main {
        padding: 0.3em;
        flex-direction: column;
        align-items: flex-start;
    }

    .dk-c-footer__logo {
        flex-grow: 1;
    }

    .dk-c-footer__menu {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: .8em;
    }

    .dk-c-footer__copyrights {
        padding: 0.3em
    }

    .dk-c-footer__menu-section {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}
