.dk-c-getting-started a {
    height: 2.5em;
    background: var(--color-yellow) 0 0 no-repeat padding-box;
    border-radius: 4px;
    display: inline-block;
    padding-right: 1.25em;
    padding-left: 1.25em;
    cursor: pointer;
    text-align: center;
}

.dk-c-getting-started a div {
    display: inline-block;
}

.dk-c-getting-started a span {
    font-size: 0.8em;
    color: var(--color-black);
    position: relative;
    padding-left: 0.9375em;
    opacity: 0.8;
    line-height: 2.8em;
}

.dk-c-getting-started a:hover span {
    opacity: 1;
}

.dk-c-getting-started a img {
    height: 1.5em;
    width: 1.5em;
    position: relative;
    display: inline-block;
    left: 0.625em;
}

@media only screen and (max-width: 600px) {
    .dk-c-getting-started {
        width: 100%;
    }

    .dk-c-getting-started a {
        width: 100%;
    }
}
