.dk-c-next-page {
    display: flex;
    justify-content: right;
    align-items: center;
}

.dk-c-previous-page {
    display: flex;
    align-items: center;
}

.dk-c-next-page a,
.dk-c-previous-page a {
    color: var(--color-black);
}

.dk-c-next-page p,
.dk-c-previous-page p {
    margin-right: 5px
}

.dk-c-next-page:hover a,
.dk-c-previous-page:hover a {
    color: #14C397;
}

@media only screen and (max-width: 600px) {
    .dk-c-next-page,
    .dk-c-previous-page {
        font-size: 0.7em;
    }

    .dk-c-next-page p,
    .dk-c-previous-page p {
        margin: 0;
    }
}
