.dk-c-solutions-menu {
    width: 16.25em;
    background-color: var(--color-white);
    position: absolute;
    padding: 1.25em;
    box-shadow: 0 3px 6px var(--color-box-shadow);
    border-radius: 3px;
    display: none;
}

.dk-c-solutions-menu:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--color-white);
    left: 8.75em;
    top: 0.6875em;
    z-index: 100;
}

.dk-c-solutions-menu-item {
    padding: 1.25em 1.25em 0 1.25em;
}

.dk-c-solutions-menu-item a {
    text-align: left;
    color: var(--color-black);
    text-decoration: none;
}

.dk-c-solutions-menu-item a:hover {
    color: var(--color-green);
}

.dk-c-solutions-menu-item p {
    text-align: left;
    font-size: 0.875em;
    color: var(--color-light-grey);
    margin: 1px;
}
