.dk-c-solutions-menu {
    background-color: var(--color-white);
    position: absolute;
    box-shadow: 0 3px 6px var(--color-box-shadow);
    border-radius: 5px;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
}

.dk-c-solutions-menu-item {
    padding: 1.25em;
    border-radius: 5px;
}

.dk-c-solutions-menu-item h4 {
    font-size: 1em;
}

.dk-c-solutions-menu-item:hover {
    background-color: var(--color-offwhite);
    cursor: pointer;
}

.dk-c-solutions-menu-item:hover a {
    color: var(--color-green);
}

.dk-c-solutions-menu-item a {
    text-align: left;
    color: var(--color-black);
    text-decoration: none;
}

.dk-c-solutions-menu-item p {
    text-align: left;
    font-size: 0.875em;
    color: var(--color-light-grey);
    margin: 1px;
}
