<div th:fragment="content" class="dui">
    <div class="dui dui-solution-title-bar">
        <h1 class="dui dui-fg-teal dui-grow-1"><span class="dui dui-block">Domino History</span>
            <small>
                <a href="https://github.com/DominoKit/domino-history"><img
                        src="https://img.shields.io/github/stars/DominoKit/domino-history?style=social"
                        alt="stars - domino-history"></a>
                <a href="https://github.com/DominoKit/domino-history"><img
                        src="https://img.shields.io/github/forks/DominoKit/domino-history?style=social"
                        alt="forks - domino-history"></a>

            </small>
        </h1>
        <div class="dui dui-solution-title-bar-buttons">
            <div th:replace="fragments/commons/components/external-link :: content('https://github.com/DominoKit/domino-history', 'mdi-github', 'View on Github')"></div>
            <div th:replace="fragments/commons/components/yellow-link :: content('/solutions/domino-history/v1/docs/getting-started', 'mdi-rocket', 'Getting started')"></div>
        </div>
    </div>
    <p class="dui dui-p-x-4 dui-m-0">A light-weight library to read and parse the browser URL and provide some rich
        functionality to read and process URL paths, query parameters and fragments,
        also provide functions to smoothly edit and update the URL with the ability to define listeners for those
        updates.</p>
    <div class="dui dui-solution-badges">

        <a href="https://github.com/DominoKit/domino-history/actions?query=workflow:%22Deploy%22"><img
                src="https://github.com/DominoKit/domino-history/workflows/Deploy/badge.svg" alt="Deploy"></a>
        <a href="https://github.com/DominoKit/domino-history/releases/"><img
                src="https://img.shields.io/github/release/DominoKit/domino-history?include_prereleases=&sort=semver&color=14c398"
                alt="GitHub release"></a>
        <a href="#license"><img src="https://img.shields.io/badge/License-_Apache_2.0-14c398" alt="License"></a>

        <a href="https://discord.gg/35UG3FhfHq"><img
                src="https://img.shields.io/badge/Discord-Join_chat-14c398?logo=discord&logoColor=white"
                alt="Discord - Join chat"></a>
        <a href="https://matrix.to/#/#DominoKit_domino:gitter.im"><img
                src="https://img.shields.io/badge/Element-Join_chat-14c398?logo=element&logoColor=white"
                alt="Element - Join chat"></a>
    </div>
    <div class="dui dui-p-x-4 dui-p-t-4">
        <img class="dui dui-image-responsive dui-rounded" alt="domino history banner"
             src="/assets/domino-history-banner.png" width="100%" height="500">
    </div>

    <div class="dui dui-p-4">
        <div class="feature-blocks">
            <div class="dui feature-block">
                <i class="dui mdi mdi-map-marker-path dui-site-solution-quick-info-icon"></i>
                <h1>URL parsing</h1>
                <p>
                    Easily parse and process the URL parts, read the URL paths, query parameters and fragments and use
                    expressions to match dynamic URL parts.
                </p>
            </div>
            <div class="dui feature-block">
                <i class="dui mdi mdi-vector-polyline-edit dui-site-solution-quick-info-icon"></i>
                <h1>URL updates</h1>
                <p>
                    Update the browser URL using a large set of functions without a hassle, append, remove, replace or
                    reset URL parts with a simple line of code.
                </p>
            </div>
            <div class="dui feature-block">
                <i class="dui mdi mdi-ear-hearing dui-site-solution-quick-info-icon"></i>
                <h1>URL listeners</h1>
                <p>
                    Listen to URL changes and execute callbacks, listeners can use filters to filter what kind of
                    changes that will trigger the listener callback.
                </p>
            </div>
        </div>
    </div>
</div>
