<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{commons :: header(pageTitle='Domino MVP')}"></head>
<body>
<div id="root">
    <div style="box-shadow: 0px 1px 2px #acb7d033;">
        <div class="header-root">
            <div th:replace="~{commons :: navigationTopBar (active = 'solutions')}"></div>
        </div>
    </div>
    <div id="body">
        <div th:replace="~{main/content/dominomvp :: content}"></div>
    </div>
    <div th:replace="~{commons :: supportUs}"></div>
    <div th:replace="~{commons :: footer}"></div>
    <div th:replace="~{commons :: solutionsMenu}"></div>
</div>
</body>
</html>
