.dk-u-clickable {
    cursor: pointer;
}

.dk-u-fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease-out 300ms, opacity 300ms;
}

.dk-u-fade-in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s ease-in 0s, opacity 300ms;
}
