<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="servicesContent" class="yellow-bar">
    <div th:replace="~{commons :: navigationTopBar}"></div>
    <div th:replace="~{commons :: mainHeader}"></div>
    <div id="body">
        <div class="services-main">
            <div class="authors-main">
                <div class="author-card-cntr">
                    <div d-client-card="0" class="author-card active">
                        <div class="author-card-header">
                            <img src="assets/ic_testmonials_quotes.svg">
                        </div>
                        <div class="author-card-image left">
                            <h2 class="service-plan">Plan A</h2>
                        </div>
                        <div class="author-card-name">
                            <h3>4 Hours/Month</h3>
                        </div>
                        <div class="author-card-title">
                            <h4><b>400</b> USD/Month Annual subscription </h4>
                        </div>
                        <div class="author-card-name">
                            <h3>4800USD Total</h3>
                        </div>
                        <div class="author-card-comment" style="padding-top: 10px;">
                            <div th:replace="~{commons :: buttonNoImage ('green-button', 'Subscribe')}"></div>
                        </div>
                    </div>
                </div>
                <div class="author-card-cntr">
                    <div d-client-card="0" class="author-card active">
                        <div class="author-card-header">
                            <img src="assets/ic_testmonials_quotes.svg">
                        </div>
                        <div class="author-card-image left">
                            <h2 class="service-plan">Plan A</h2>
                        </div>
                        <div class="author-card-name">
                            <h3>4 Hours/Month</h3>
                        </div>
                        <div class="author-card-title">
                            <h4><b>400</b> USD/Month Annual subscription </h4>
                        </div>
                        <div class="author-card-name">
                            <h3>4800USD Total</h3>
                        </div>
                        <div class="author-card-comment" style="padding-top: 10px;">
                            <div th:replace="~{commons :: buttonNoImage ('green-button', 'Subscribe')}"></div>
                        </div>
                    </div>
                </div>
                <div class="author-card-cntr">
                    <div d-client-card="0" class="author-card active">
                        <div class="author-card-header">
                            <img src="assets/ic_testmonials_quotes.svg">
                        </div>
                        <div class="author-card-image left">
                            <h2 class="service-plan">Plan A</h2>
                        </div>
                        <div class="author-card-name">
                            <h3>4 Hours/Month</h3>
                        </div>
                        <div class="author-card-title">
                            <h4><b>400</b> USD/Month Annual subscription </h4>
                        </div>
                        <div class="author-card-name">
                            <h3>4800USD Total</h3>
                        </div>
                        <div class="author-card-comment" style="padding-top: 10px;">
                            <div th:replace="~{commons :: buttonNoImage ('green-button', 'Subscribe')}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="authors-main">
                <div class="author-card-cntr">
                    <div d-client-card="0" class="author-card active">
                        <div class="author-card-header">
                            <img src="assets/ic_testmonials_quotes.svg">
                        </div>
                        <div class="author-card-image left">
                            <h2 class="service-plan">Plan A</h2>
                        </div>
                        <div class="author-card-name">
                            <h3>4 Hours/Month</h3>
                        </div>
                        <div class="author-card-title">
                            <h4><b>400</b> USD/Month Annual subscription </h4>
                        </div>
                        <div class="author-card-name">
                            <h3>4800USD Total</h3>
                        </div>
                        <div class="author-card-comment" style="padding-top: 10px;">
                            <div th:replace="~{commons :: buttonNoImage ('green-button', 'Subscribe')}"></div>
                        </div>
                    </div>
                </div>
                <div class="author-card-cntr">
                    <div d-client-card="0" class="author-card active">
                        <div class="author-card-header">
                            <img src="assets/ic_testmonials_quotes.svg">
                        </div>
                        <div class="author-card-image left">
                            <h2 class="service-plan">Plan A</h2>
                        </div>
                        <div class="author-card-name">
                            <h3>4 Hours/Month</h3>
                        </div>
                        <div class="author-card-title">
                            <h4><b>400</b> USD/Month Annual subscription </h4>
                        </div>
                        <div class="author-card-name">
                            <h3>4800USD Total</h3>
                        </div>
                        <div class="author-card-comment" style="padding-top: 10px;">
                            <div th:replace="~{commons :: buttonNoImage ('green-button', 'Subscribe')}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{commons :: supportUs}"></div>
    <div th:replace="~{commons :: footer}"></div>
    <div th:replace="~{commons :: solutionsMenu}"></div>
</div>
